body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
}

#header{
    font-weight: bold;
    text-align: center;
}

#question{
    text-align: center;
}

#question1-answers{
    text-align: center;
}

#question2{
    text-align: center;
}

#question2-answers{
    text-align: center;
}

#question3{
    text-align: center;
}

#question3-answers{
    text-align: center;
}

#submitButton{
    text-align: center;
}
